<div class="select-country-wrap">
    <h2>hello</h2>
    <h3>Tell us where you are:</h3>
    <div class="select-country-box">
        <div class="row center-xs">
            <div class="col-xs-4" ng-click="country.selectCountry()">
                <img src="/assets/images/angular.png" alt="" class="img-responsive img-round">
            </div>
            <div class="col-xs-4" ng-click="country.selectCountry()">
                <img src="/assets/images/angular.png" alt="" class="img-responsive img-round">
            </div>
            <div class="col-xs-4" ng-click="country.selectCountry()">
                <img src="/assets/images/angular.png" alt="" class="img-responsive img-round">
            </div>
        </div>
    </div>
    <footer-description></footer-description>
</div>